body{
    height:100vh;
    width:100vw;
}
.clickCounter{
    font-size: 20px;
}
.mole{
    width: 100px;
    height: 100px;
    background-color:red;
}

.moleBox{
    border: 1px solid black;
    width:100px;
    height: 100px;
    margin: auto;
    position: relative;
    overflow:hidden;
    z-index:0;
  }
  img.dirt{
    width: 110%;
    height: 84%;
    z-index: 1000;
    position: absolute;
    bottom: -25%;
    left: -4%;
  }
  
  img.diglettPic{
    width: 80%;
    height: 75%;
    position: absolute;
    bottom: -30%;
    z-index: -1;
    left: 10%;
    transition: bottom 0.5s ease, height 0.5s ease;
  }
  
  .diglettPic.up{
    bottom: -30%;
    z-index: 10;
      height: 118%;
}


.game-area {
    margin: 0 auto;
    border: 2px solid black;
    height: 30%;
    width:30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.c1r1{
    background-color:yellow;
    grid-column: 1/2;
    grid-row: 1/1
}
.c1r2{
    background-color:magenta;
    grid-column: 2/3;
    grid-row: 1/1;
}
.c1r3{
    background-color:darkturquoise;
    grid-column: 3/4;
    grid-row: 1/1
}
.c2r1{
    background-color:red;
    grid-column: 1/2;
    grid-row: 2/2
}
.c2r2{
    background-color:orange;
    grid-column: 2/3;
    grid-row: 2/2
}
.c2r3{
    background-color:pink;
    grid-column: 3/4;
    grid-row: 2/2
}
.c3r1{
    background-color:blue;
    grid-column: 1/2;
    grid-row: 3/3
}
.c3r2{
    background-color:brown;
    grid-column: 2/3;
    grid-row: 3/3
}
.c3r3{
    background-color:green;
    grid-column: 3/4;
    grid-row: 3/3
}

